# NuttX RP2350: Raspberry Pi Pico 2 W minimal release profile
# USB CDC NSH + Berry + vi + readline/history + I2C + watchdog.

CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="raspberrypi-pico-2-w"
CONFIG_ARCH_BOARD_RASPBERRYPI_PICO_2_W=y
CONFIG_ARCH_BOARD_COMMON=y
CONFIG_ARCH_CHIP="rp23xx"
CONFIG_ARCH_CHIP_RP23XX=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_RAMVECTORS=y
CONFIG_ARCH_SETJMP_H=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH_TOOLCHAIN_GCC=y
CONFIG_ARCH_TOOLCHAIN_GNU=y
CONFIG_ARM_TOOLCHAIN_GNU_EABI=y
CONFIG_BOARD_LOOPSPERMSEC=10450
CONFIG_BOARDCTL_RESET=y
CONFIG_BUILTIN=y
CONFIG_DEFAULT_TASK_STACKSIZE=4096
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=4096
CONFIG_PTHREAD_STACK_DEFAULT=4096
CONFIG_RAM_START=0x20000000
CONFIG_RAM_SIZE=532480
# CONFIG_RP23XX_UART0 is not set
# CONFIG_DEV_CONSOLE is not set

CONFIG_USBDEV=y
CONFIG_USBDEV_BUSPOWERED=y
CONFIG_CDCACM=y
CONFIG_CDCACM_CONSOLE=y
CONFIG_CDCACM_BOOTSEL_TOUCH=y
CONFIG_CDCACM_BOOTSEL_TOUCH_RESET_STATUS=3
CONFIG_SERIAL_TERMIOS=y
CONFIG_TTY_SIGINT=y
CONFIG_TTY_SIGINT_CHAR=0x03
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_WAITPID=y
CONFIG_SIG_DEFAULT=y
CONFIG_RR_INTERVAL=200

CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_REGISTER=y
CONFIG_FS_TMPFS=y
CONFIG_FS_ROMFS=y
CONFIG_ETC_ROMFS=y
CONFIG_LIBC_PERROR_STDOUT=y
CONFIG_LIBC_STRERROR=y
CONFIG_NFILE_DESCRIPTORS_PER_BLOCK=6
CONFIG_LINE_MAX=256

CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_NSH_STRERROR=y
CONFIG_NSH_USBCONSOLE=y
CONFIG_NSH_USBCONSOLE_CONNECT_DELAY=500
CONFIG_NSH_USBCONSOLE_WAIT_DTR=y
CONFIG_NSH_USBCONSOLE_WAIT_DTR_TIMEOUT=5000
# CONFIG_NSH_USBCONSOLE_WAIT_INPUT is not set
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_CMD_HISTORY_LINELEN=256
CONFIG_READLINE_CMD_HISTORY_LEN=32

CONFIG_INTERPRETERS_BERRY=y
CONFIG_INTERPRETERS_BERRY_STACKSIZE=8192
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_NSH_STACKSIZE=4096
CONFIG_SYSTEM_VI=y
CONFIG_SYSTEM_VI_COLS=80
CONFIG_SYSTEM_VI_ROWS=24
CONFIG_SYSTEM_VI_STACKSIZE=4096
CONFIG_SYSTEM_I2CTOOL=y
CONFIG_SYSTEM_DUMPSTACK=y
CONFIG_SYSTEM_SYSTEM=y
CONFIG_SYSTEM_BOOTSEL=y

CONFIG_RP23XX_I2C=y
CONFIG_RP23XX_I2C0=y
CONFIG_RP23XX_I2C0_SDA_GPIO=4
CONFIG_RP23XX_I2C0_SCL_GPIO=5
CONFIG_RP23XX_I2C_DRIVER=y

CONFIG_WATCHDOG=y
CONFIG_SYSTEM_RP2350WATCHDOG=y
CONFIG_SYSTEM_RP2350WATCHDOG_PRIORITY=110
CONFIG_SYSTEM_RP2350WATCHDOG_TIMEOUT_MS=15000
CONFIG_SYSTEM_RP2350WATCHDOG_PING_MS=5000
# CONFIG_SYSTEM_RP2350WATCHDOG_BOOTSEL_RECOVERY is not set
CONFIG_SYSTEM_RP2350WATCHDOG_DEV_BOOTSEL_MS=0
# CONFIG_RP23XX_AUTO_BOOTSEL_ON_BOOT is not set

# CONFIG_NET is not set
# CONFIG_RP23XX_INFINEON_CYW43439 is not set
# CONFIG_RP23XX_PSRAM is not set
# CONFIG_RP23XX_SPISD is not set
# CONFIG_RP23XX_HSTX_DVI is not set
# CONFIG_AUDIO is not set
# CONFIG_USBHOST is not set
